      body {
          font-family: Arial, sans-serif;
          background-color: #f4f4f9;
          margin: 0;
          padding: 0;
      }
      
      .container {
          max-width: 500px;
          margin: 50px auto;
          padding: 20px;
          background-color: #fff;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
      }
      
      h1 {
          text-align: center;
          color: #282c35;
      }
      
      .group {
          margin-bottom: 15px;
      }
      
      .group label {
          display: block;
          margin-bottom: 5px;
          color: #282c35;
      }
      
      .group input[type="text"],
      .group input[type="email"],
      .group input[type="password"] {
          width: calc(100% - 20px);
          padding: 10px;
          border: 1px solid #ddd;
          border-radius: 5px;
      }
      
      fieldset {
          width: calc(100% - 20px);
          border: 1px solid #ddd;
          border-radius: 5px;
          padding: 10px;
      }
      
      legend {
          color: #282c35;
          font-size: 15px;
      }
      
      label {
          display: block;
          margin-bottom: 5px;
      }
      
      .preferences {
          padding: .5rem .8rem;
          border-radius: 5px;
      }
      
      .preferences:focus {
          outline: none;
      }
      
      input[type="checkbox"] {
          margin-right: 10px;
      }
      
      button {
          width: 50%;
          max-width: 400px;
          display: block;
          margin: 20px auto;
          border: 1px solid #1a64d6;
          background: #1a64d6;
          color: #fff;
          font-size: 16px;
          line-height: 10px;
          padding: 16px 24px;
          border-radius: 30px;
          transition: all 200ms ease;
          box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
          cursor: pointer;
      }
      
      button:hover {
          background: white;
          color: #1a64d6;
          border: 1px solid #1a64d6;
      }
      
      .result {
          display: none;
          margin-top: 20px;
          text-align: center;
      }